In [1]:
import pandas as pd
file_path = r'Raw Data_NoAddedColumns.xlsx' # Changed for security will need to be changed to your downloaded file path

# Using a try catch block incase the file path is incorrect
try:
    # Reading sheets into a dictionary
    sheets_dict = pd.read_excel(file_path, sheet_name=None)

    # Access sheets by sheet name
    orders_df = sheets_dict['orders']
    customers_df = sheets_dict['customers']
    products_df = sheets_dict['products']

    print("Orders Sheet:")
    print(orders_df.head())
    print('\n')

    print("Customer Sheet:")
    print(customers_df.head())
    print('\n')

    print("Products Sheet:")
    print(products_df.head())
    print('\n')

except Exception as e:
    print(f"An error occurred: {e}")

Orders Sheet:
        Order ID Order Date     Customer ID Product ID  Quantity
0  QEV-37451-860 2019-09-05  17670-51384-MA      R-M-1         2
1  QEV-37451-860 2019-09-05  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268 2021-06-17  21125-22134-PX      A-L-1         1
3  KAC-83089-793 2021-07-15  23806-46781-OU      E-M-1         2
4  KAC-83089-793 2021-07-15  23806-46781-OU    R-L-2.5         2


Customer Sheet:
      Customer ID        Customer Name                 Email  \
0  17670-51384-MA       Aloisia Allner     aallner0@lulu.com
1  73342-18763-UW           Piotr Bote       pbote1@yelp.com
2  21125-22134-PX        Jami Redholes  jredholes2@tmall.com
3  71253-00052-RN           Dene Azema  dazema3@facebook.com
4  23806-46781-OU  Christoffer O' Shea                   NaN

          Phone Number             Address Line 1         City        Country  \
0    +1 (862) 817-0124    57999 Pepper Wood Alley     Paterson  United States
1  +353 (913) 396-4653         2112 Ridgeway Hill      Crumlin        Ireland
2    +1 (210) 986-6806        5214 Bartillon Park  San Antonio  United States
3    +1 (217) 418-0714           27 Maywood Place  Springfield  United States
4  +353 (698) 362-9201  38980 Manitowish Junction   Cill Airne        Ireland

  Postcode Loyalty Card
0     7505          Yes
1      D6W           No
2    78205          Yes
3    62711          Yes
4      N41           No


Products Sheet:
  Product ID Coffee Type Roast Type  Size  Unit Price  Price per 100g   Profit
0    A-L-0.2         Ara          L   0.2       3.885          1.9425  0.34965
1    A-L-0.5         Ara          L   0.5       7.770          1.5540  0.69930
2      A-L-1         Ara          L   1.0      12.950          1.2950  1.16550
3    A-L-2.5         Ara          L   2.5      29.785          1.1914  2.68065
4    A-M-0.2         Ara          M   0.2       3.375          1.6875  0.30375

In [2]:
# Merging data from the Customer sheet to columns on the orders sheet
merged_df = pd.merge(orders_df, customers_df[['Customer ID','Customer Name', 'Email', 'Country']], on='Customer ID', how='left')

print("Merged DF:")
print(merged_df.head())

Merged DF:
        Order ID Order Date     Customer ID Product ID  Quantity  \
0  QEV-37451-860 2019-09-05  17670-51384-MA      R-M-1         2
1  QEV-37451-860 2019-09-05  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268 2021-06-17  21125-22134-PX      A-L-1         1
3  KAC-83089-793 2021-07-15  23806-46781-OU      E-M-1         2
4  KAC-83089-793 2021-07-15  23806-46781-OU    R-L-2.5         2

         Customer Name                 Email        Country
0       Aloisia Allner     aallner0@lulu.com  United States
1       Aloisia Allner     aallner0@lulu.com  United States
2        Jami Redholes  jredholes2@tmall.com  United States
3  Christoffer O' Shea                   NaN        Ireland
4  Christoffer O' Shea                   NaN        Ireland

In [3]:
# Setting dataframe df equal to merged df
df = merged_df
# Merging df with the columns on Product sheet
merged_df = pd.merge(df, products_df[['Product ID', 'Coffee Type', 'Roast Type', 'Size', 'Unit Price']], on='Product ID', how='left')

print("Merged DF:")
print(merged_df.head())

Merged DF:
        Order ID Order Date     Customer ID Product ID  Quantity  \
0  QEV-37451-860 2019-09-05  17670-51384-MA      R-M-1         2
1  QEV-37451-860 2019-09-05  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268 2021-06-17  21125-22134-PX      A-L-1         1
3  KAC-83089-793 2021-07-15  23806-46781-OU      E-M-1         2
4  KAC-83089-793 2021-07-15  23806-46781-OU    R-L-2.5         2

         Customer Name                 Email        Country Coffee Type  \
0       Aloisia Allner     aallner0@lulu.com  United States         Rob
1       Aloisia Allner     aallner0@lulu.com  United States         Exc
2        Jami Redholes  jredholes2@tmall.com  United States         Ara
3  Christoffer O' Shea                   NaN        Ireland         Exc
4  Christoffer O' Shea                   NaN        Ireland         Rob

  Roast Type  Size  Unit Price
0          M   1.0       9.950
1          M   0.5       8.250
2          L   1.0      12.950
3          M   1.0      13.750
4          L   2.5      27.485

In [4]:
df = merged_df
print(df.head())

        Order ID Order Date     Customer ID Product ID  Quantity  \
0  QEV-37451-860 2019-09-05  17670-51384-MA      R-M-1         2
1  QEV-37451-860 2019-09-05  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268 2021-06-17  21125-22134-PX      A-L-1         1
3  KAC-83089-793 2021-07-15  23806-46781-OU      E-M-1         2
4  KAC-83089-793 2021-07-15  23806-46781-OU    R-L-2.5         2

         Customer Name                 Email        Country Coffee Type  \
0       Aloisia Allner     aallner0@lulu.com  United States         Rob
1       Aloisia Allner     aallner0@lulu.com  United States         Exc
2        Jami Redholes  jredholes2@tmall.com  United States         Ara
3  Christoffer O' Shea                   NaN        Ireland         Exc
4  Christoffer O' Shea                   NaN        Ireland         Rob

  Roast Type  Size  Unit Price
0          M   1.0       9.950
1          M   0.5       8.250
2          L   1.0      12.950
3          M   1.0      13.750
4          L   2.5      27.485

In [5]:
# Checking data types
df.dtypes

Order ID                 object
Order Date       datetime64[ns]
Customer ID              object
Product ID               object
Quantity                  int64
Customer Name            object
Email                    object
Country                  object
Coffee Type              object
Roast Type               object
Size                    float64
Unit Price              float64
dtype: object

In [6]:
# Checking for null values
missing_data = df.isnull() # Will be True if null

for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

Order ID
False    1000
Name: Order ID, dtype: int64

Order Date
False    1000
Name: Order Date, dtype: int64

Customer ID
False    1000
Name: Customer ID, dtype: int64

Product ID
False    1000
Name: Product ID, dtype: int64

Quantity
False    1000
Name: Quantity, dtype: int64

Customer Name
False    1000
Name: Customer Name, dtype: int64

Email
False    794
True     206
Name: Email, dtype: int64

Country
False    1000
Name: Country, dtype: int64

Coffee Type
False    1000
Name: Coffee Type, dtype: int64

Roast Type
False    1000
Name: Roast Type, dtype: int64

Size
False    1000
Name: Size, dtype: int64

Unit Price
False    1000
Name: Unit Price, dtype: int64

In [7]:
# Change date format to MMM/dd/YYYY
df['Order Date'] = pd.to_datetime(df['Order Date']).dt.strftime('%b/%d/%Y')
print(df.head())

        Order ID   Order Date     Customer ID Product ID  Quantity  \
0  QEV-37451-860  Sep/05/2019  17670-51384-MA      R-M-1         2
1  QEV-37451-860  Sep/05/2019  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268  Jun/17/2021  21125-22134-PX      A-L-1         1
3  KAC-83089-793  Jul/15/2021  23806-46781-OU      E-M-1         2
4  KAC-83089-793  Jul/15/2021  23806-46781-OU    R-L-2.5         2

         Customer Name                 Email        Country Coffee Type  \
0       Aloisia Allner     aallner0@lulu.com  United States         Rob
1       Aloisia Allner     aallner0@lulu.com  United States         Exc
2        Jami Redholes  jredholes2@tmall.com  United States         Ara
3  Christoffer O' Shea                   NaN        Ireland         Exc
4  Christoffer O' Shea                   NaN        Ireland         Rob

  Roast Type  Size  Unit Price
0          M   1.0       9.950
1          M   0.5       8.250
2          L   1.0      12.950
3          M   1.0      13.750
4          L   2.5      27.485

In [8]:
# Replacing coffee abbreviations with the whole word
df['Coffee Type'].replace({'Rob': 'Robusta', 'Exc': 'Excelsa', 'Ara': 'Arabica'}, inplace=True)
print(df.head())

        Order ID   Order Date     Customer ID Product ID  Quantity  \
0  QEV-37451-860  Sep/05/2019  17670-51384-MA      R-M-1         2
1  QEV-37451-860  Sep/05/2019  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268  Jun/17/2021  21125-22134-PX      A-L-1         1
3  KAC-83089-793  Jul/15/2021  23806-46781-OU      E-M-1         2
4  KAC-83089-793  Jul/15/2021  23806-46781-OU    R-L-2.5         2

         Customer Name                 Email        Country Coffee Type  \
0       Aloisia Allner     aallner0@lulu.com  United States     Robusta
1       Aloisia Allner     aallner0@lulu.com  United States     Excelsa
2        Jami Redholes  jredholes2@tmall.com  United States     Arabica
3  Christoffer O' Shea                   NaN        Ireland     Excelsa
4  Christoffer O' Shea                   NaN        Ireland     Robusta

  Roast Type  Size  Unit Price
0          M   1.0       9.950
1          M   0.5       8.250
2          L   1.0      12.950
3          M   1.0      13.750
4          L   2.5      27.485

In [9]:
# Replacing roast types with whole word
df['Roast Type'].replace({'L': 'Light', 'M': 'Medium', 'D': 'Dark'}, inplace=True)
print(df.head())

        Order ID   Order Date     Customer ID Product ID  Quantity  \
0  QEV-37451-860  Sep/05/2019  17670-51384-MA      R-M-1         2
1  QEV-37451-860  Sep/05/2019  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268  Jun/17/2021  21125-22134-PX      A-L-1         1
3  KAC-83089-793  Jul/15/2021  23806-46781-OU      E-M-1         2
4  KAC-83089-793  Jul/15/2021  23806-46781-OU    R-L-2.5         2

         Customer Name                 Email        Country Coffee Type  \
0       Aloisia Allner     aallner0@lulu.com  United States     Robusta
1       Aloisia Allner     aallner0@lulu.com  United States     Excelsa
2        Jami Redholes  jredholes2@tmall.com  United States     Arabica
3  Christoffer O' Shea                   NaN        Ireland     Excelsa
4  Christoffer O' Shea                   NaN        Ireland     Robusta

  Roast Type  Size  Unit Price
0     Medium   1.0       9.950
1     Medium   0.5       8.250
2      Light   1.0      12.950
3     Medium   1.0      13.750
4      Light   2.5      27.485

In [10]:
# Rounding price to 0.00
df['Unit Price'] = df['Unit Price'].round(2)
print(df.head())

        Order ID   Order Date     Customer ID Product ID  Quantity  \
0  QEV-37451-860  Sep/05/2019  17670-51384-MA      R-M-1         2
1  QEV-37451-860  Sep/05/2019  17670-51384-MA    E-M-0.5         5
2  FAA-43335-268  Jun/17/2021  21125-22134-PX      A-L-1         1
3  KAC-83089-793  Jul/15/2021  23806-46781-OU      E-M-1         2
4  KAC-83089-793  Jul/15/2021  23806-46781-OU    R-L-2.5         2

         Customer Name                 Email        Country Coffee Type  \
0       Aloisia Allner     aallner0@lulu.com  United States     Robusta
1       Aloisia Allner     aallner0@lulu.com  United States     Excelsa
2        Jami Redholes  jredholes2@tmall.com  United States     Arabica
3  Christoffer O' Shea                   NaN        Ireland     Excelsa
4  Christoffer O' Shea                   NaN        Ireland     Robusta

  Roast Type  Size  Unit Price
0     Medium   1.0        9.95
1     Medium   0.5        8.25
2      Light   1.0       12.95
3     Medium   1.0       13.75
4      Light   2.5       27.48

In [11]:
# Date was converted to object when changing format
df.dtypes

Order ID          object
Order Date        object
Customer ID       object
Product ID        object
Quantity           int64
Customer Name     object
Email             object
Country           object
Coffee Type       object
Roast Type        object
Size             float64
Unit Price       float64
dtype: object

In [12]:
# Converting Order date to datetime
df['Order Date'] = pd.to_datetime(df['Order Date'])
df.dtypes

Order ID                 object
Order Date       datetime64[ns]
Customer ID              object
Product ID               object
Quantity                  int64
Customer Name            object
Email                    object
Country                  object
Coffee Type              object
Roast Type               object
Size                    float64
Unit Price              float64
dtype: object

In [13]:
df.head(10)

,Order ID,Order Date,Customer ID,Product ID,Quantity,Customer Name,Email,Country,Coffee Type,Roast Type,Size,Unit Price
0,QEV-37451-860,2019-09-05,17670-51384-MA,R-M-1,2,Aloisia Allner,aallner0@lulu.com,United States,Robusta,Medium,1.0,9.95
1,QEV-37451-860,2019-09-05,17670-51384-MA,E-M-0.5,5,Aloisia Allner,aallner0@lulu.com,United States,Excelsa,Medium,0.5,8.25
2,FAA-43335-268,2021-06-17,21125-22134-PX,A-L-1,1,Jami Redholes,jredholes2@tmall.com,United States,Arabica,Light,1.0,12.95
3,KAC-83089-793,2021-07-15,23806-46781-OU,E-M-1,2,Christoffer O' Shea,NaN,Ireland,Excelsa,Medium,1.0,13.75
4,KAC-83089-793,2021-07-15,23806-46781-OU,R-L-2.5,2,Christoffer O' Shea,NaN,Ireland,Robusta,Light,2.5,27.48
5,CVP-18956-553,2021-08-04,86561-91660-RB,L-D-1,3,Beryle Cottier,NaN,United States,Lib,Dark,1.0,12.95
6,IPP-31994-879,2022-01-21,65223-29612-CB,E-D-0.5,3,Shaylynn Lobe,slobe6@nifty.com,United States,Excelsa,Dark,0.5,7.29
7,SNZ-65340-705,2022-05-20,21134-81676-FR,L-L-0.2,1,Melvin Wharfe,NaN,Ireland,Lib,Light,0.2,4.76
8,EZT-46571-659,2019-01-02,03396-68805-ZC,R-M-0.5,3,Guthrey Petracci,gpetracci8@livejournal.com,United States,Robusta,Medium,0.5,5.97
9,NWQ-70061-912,2019-09-05,61021-27840-ZN,R-M-0.5,1,Rodger Raven,rraven9@ed.gov,United States,Robusta,Medium,0.5,5.97